$colorPrimary:#19649c;
$colorSecondary:#cc3539;
$colorText:#333;
$colorGray:#ccc;
$colorBlack:#000;
$colorWhite:#ffffff;
$colorBg:#f8f8f8;
$colorFooterBg:#C5CBD3;

$transition:all 0.4s ease;

$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$boxShadowTwo :rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$boxShadowThree: rgba(0, 0, 0, 0.1) 0px 4px 12px;

$fontPrimary:"Poppins", sans-serif;
$fontSecondary:"Open Sans", sans-serif;
$fontTertiary:"Playfair", serif;

$defaultFontSize:1.6rem;