$colorPrimary:#19649c;
$colorSecondary:#000080;
$colorText:#333;
$colorGray:#f6f6f6;
$colorBlack:#000;
$colorWhite:#ffffff;

$transition:all 0.4s ease;

$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$fontPrimary:"Poppins", sans-serif;
$fontSecondary:"Open Sans", sans-serif;

$defaultFontSize:1.8rem;