.ourStory {
    .row{
        @include respond (maxWidth992){
            flex-direction: column-reverse;
        }
    }
    h2 {
        @include respond (minWidth768) {
            text-align: left;
        }
    }

    .imgWrapper {
        height: 100%;
        @include respond (maxWidth992){
            width: calc(100% - 15rem);
            margin: auto;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include respond (maxWidth992){
                aspect-ratio: 1 / 1;
            }
        }
    }
}


.AboutCisSection{
    @include respond (minWidth992){
        .container{
            max-width: 100%;
            padding: 0;
        }
    }
.AboutCis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    
    @include respond (maxWidth992){
        grid-template-columns: repeat(1, 1fr);
    }

    .campusPic {
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .aboutCampus {
        @include respond (minWidth992){
            width: 555px;
        padding-left: 3rem;
        }

        h2 {
            @include respond (minWidth768) {
                text-align: left;
            }
        }
    }
}
}

.cisrecords {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;

    &::before {
        content: "";
        background: $colorBlack;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    .container {
        position: relative;
    }

    .col-md-4 {
        &:nth-child(2) {
            border-left: 1px solid $colorWhite;
            border-right: 1px solid $colorWhite;
        }
    }

    .unit {
        h2 {
            font-weight: 700;
            color: $colorGray;
            font-size: 4.8rem;
            @include respond (maxWidth992){
                font-size: 3.6rem;
            }
            @include respond (maxWidth768)
            {
                font-size: 2.4rem;
            }
        }
    }

    .aboutwhat {
        h3 {
            color: $colorWhite;
        }
    }
}