.campusArea{
    .row{
        row-gap: 1.5rem;
        &.last{
            .linkWrapper{
                display: block;
            }
            p{
                     a{
                        font-size: $defaultFontSize!important;
                    }
                }
                .campusCard{
                    height: 100%;
                    .imgWrapper, .linkWrapper{
                        display: none;
                    }
                    .contentWrapper{
                        padding: 0;
                        .heading-tertiary{
                            font-size: $defaultFontSize;
                            background: $colorPrimary;
                            color: $colorWhite;
                            padding: 2rem 1rem;
                            text-transform: uppercase;
                        }
                        p{
                            padding: 0 1rem 1rem 1rem;
                        }
                    }
                }
        }
    }
}

.campusStaff{
    .staffCards, .teacherstaffCards{
        display: grid;
        gap: 15px;
        place-content: center;
    }
    .staffCards{
        grid-template-columns: repeat(2, 40rem);
        @include respond (maxWidth992){
            grid-template-columns: repeat(1, 40rem);
        }
         @include respond (maxWidth575){
            grid-template-columns: repeat(1, 30rem);
        }
    }
    .teacherstaffCards{
        grid-template-columns: repeat(3, 1fr);
         @include respond (maxWidth992){
            grid-template-columns: repeat(2, 27rem);
        }
         @include respond (maxWidth575){
            grid-template-columns: repeat(1, 30rem);
        }
    }
}