.topper-card {
    position: relative;
    margin-top: 4rem;

    &:hover {
        img {
            transform: scale(1.1) translateY(12px);
        }
    }

    .imgWrapper {
        overflow: hidden;
        height: 40rem;
        @include respond (maxWidth768){
            height: auto;
        }
        @media screen and (min-width:1399.9px) {
            height: 48rem;
        }

        img {
            transition: $transition;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        background: $colorWhite;
        padding: 1.5rem 2rem;
        text-align: center;

        .name {
            text-align: center;
            margin-bottom: 0;
            line-height: 1;
            margin-top: 0;
            padding-top: 0.5rem;
            color: $colorPrimary;
        }

        .heading-tertiary {
            display: inline-block;
            color: $colorPrimary;
        }
    }

    .state-topper {
        position: absolute;
        top: 0;
        left: 0.5rem;
        color: $colorWhite;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 11rem;
        background-position: bottom;
        width: 7em;
        padding-top: 12px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;

    }

    .score {
        position: absolute;
        top: -30px;
        right: -20px;
        width: 9rem;
        height: 9rem;
        background-position: center;
        background-size: contain;
        display: grid;
        place-content: center;
        color: $colorWhite;
        font-size: 1.6rem;
        font-weight: 600;
        transform: rotate(-30deg);

        @include respond (maxWidth575) {
            right: 0;
            transform: rotate(-30deg) scale(0.8);
        }

        &.top {
            animation: score 0.8s linear infinite;
        }
    }
}

.our-toppers {
    .linkWrapper {
        margin-top: 5rem;
        text-align: center;
    }

    a {
        @include BtnOne();

        &:hover {
            border-color: $colorPrimary;
        }
    }
}

.result-area {
    .row {
        row-gap: 2rem;
    }

    h5 {
        display: inline-block;
        margin: 5rem 0;
        padding: 1rem 2rem;
        color: $colorWhite;
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: bold;
        position: relative;
        span {
            position: relative;
            z-index: 3;
            color: $colorWhite;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $colorSecondary;
            z-index: 1;
            transform: skewX(25deg) rotate(-2deg);
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: lighten($colorSecondary, $amount: 20);
            z-index: 0;
            transform: skewX(25deg) rotate(2.5deg);
        }
    }
}