@keyframes animating {
  0% {
    background: $colorSecondary;
  }

  100% {
    background: red;
  }
}

@keyframes score {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}