@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
  font-family: $fontPrimary;
  font-size: $defaultFontSize;
  color: $colorBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontPrimary;
}

.heroHeading{
  @include HeroHeading();
}

.headingPrimary {
  line-height: 1.25em;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: $colorPrimary;
  @include respond(maxWidth992) {
    margin-bottom: 30px;
    font-size: 36px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center  ;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.heading-secondary {
  line-height: 1.25em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  color: rgba($colorPrimary, 1);
}

.heading-tertiary{
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  color: $colorPrimary;
  @include respond(maxWidth992) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.heading-quartery{
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  color: $colorPrimary;
  @include respond(maxWidth992) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.heading-five {
  font-size: 1.6rem;
  font-weight: 300;
  color: $colorPrimary;
  text-align: center;
}

.sub-heading{
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  color: $colorSecondary;
  @include respond(maxWidth992) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

p, 
span, 
li {
  &:last-child {
    margin-bottom: 0;
  }
}